* {
    font-family: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 59%, #000000 59%, #111111 71%, #2b2b2b 87%, #2b2b2b 87%, #1c1c1c 99%, #1c1c1c 99%, #131313 100%);
    color: white;
    width: 100%;
}

/* Spacer */
.spacer60 {
    height: 60px;
    width: 100%;
}

/* Main-Container Styles */

.main-container>.main-content-row {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.main-content-row>.left-col {
    float: left;
    width: 100%;
    height: 500px;
}

.main-content-row>.left-col {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    letter-spacing: 0;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0;
}

.main-content-row>.left-col>.left-col-textareaone {
    font-family: 'Montserrat', sans-serif;
}

.main-content-row>.left-col>.left-col-textareaone,
.left-col-textareatwo {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.left-col>.left-col-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.left-col>.left-col-buttons>a .btn1 {
    background-color: #47cf73;
    border: 1px solid #47cf73;
    color: black;
    width: 184px;
    height: 65px;
    font-size: 21px;
    font-weight: 550;
    border-radius: 5px;
    margin-right: 15px;
}

.left-col>.left-col-buttons>a .btn2 {
    background-color: #181717;
    border: 1px solid #181717;
    color: white;
    width: 184px;
    height: 65px;
    font-size: 23px;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 15px;
}

.right-col {
    margin: 0;
    padding: 15px;
}

.image-label {
    font-size: 1em;
    font-weight: 600;
}

.main-container>.main-content-row>.right-col>.main-image {
    width: 100%;
}

.features-container>.features-row>.features-wrapper {
    display: flex;
}

.features-container>.features-row>.features-wrapper>.features {
    display: grid;
    grid-template-columns: repeat(4 2fr);
    background-color: #474747;
    margin-top: 130px;
    margin-bottom: 75px;
    justify-content: space-around;
    font-size: 1.25em;
}

.features-container>.features-row>.features-wrapper p {
    border: 1px solid white;
    width: 25%;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    display: inline-block;
}